{% extends 'base.html.twig' %}

{% block title %}footer {% endblock %}
{% block body %}
    <div class="footer container">
        <div class="row">
            <nav >
                <ul>
                    <Li>titre</Li>
                    <Li>titre</Li>
                    <Li>titre</Li>
                    <Li>titre</Li>
                </ul>
            </nav>
            <nav >
            <ul>
                <Li>titre</Li>
                <Li>titre</Li>
                <Li>titre</Li>
                <Li>titre</Li>
            </ul>
            </nav>
            <nav>
            <ul>
                <Li>titre</Li>
                <Li>titre</Li>
                <Li>titre</Li>
                <Li>titre</Li>
            </ul>
            </nav>
        </div>
    </div>
{% endblock %}