<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href "https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/materia/_bootswatch.scss">
			<link rel="stylesheet" href "https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/materia/_variables.scss">
			<link rel="stylesheet" href "hhttps://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/materia/bootstrap.css">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/materia/bootstrap.min.css">
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% block header %}
			{% include "partials/_header.html.twig" %}
		{% endblock %}
		{% block body %}{% endblock %}
	</body>
</html>

